# Employee Churn Prediction

## 1) Problem Statement

Employee attrition poses a critical challenge to organizational stability and growth. This project aims to develop a machine learning model that predicts whether an employee is likely to leave the company based on HR-related numerical features such as satisfaction level, work hours, and time spent at the company. Accurate predictions can help HR teams proactively address employee concerns, improve retention strategies, and reduce turnover-related costs

**Problem**： What’s likely to make the employee leave the company?

The dataset provided by the HR department at Salifort Motors comprises 14,999 rows and 10 columns, capturing various attributes pertaining to employee demographics, job-related factors, and potential indicators of turnover.

Here are the variables included in the dataset along with their descriptions:

satisfaction_level: Employee-reported job satisfaction level [0–1]

last_evaluation: Score of the employee's last performance review [0–1]

number_project: Number of projects the employee contributes to

average_monthly_hours: Average number of hours the employee worked per month

time_spend_company: Duration of the employee's tenure with the company (in years)

Work_accident: Whether or not the employee experienced an accident while at work

left: Whether or not the employee left the company (0 for 'stay' and 1 for 'left')

promotion_last_5years: Whether or not the employee was promoted in the last 5 years (0 for 'No' and 1 for 'Yes')

department: The employee's department

salary: The employee's salary (in U.S. dollars)

This comprehensive dataset enables in-depth analysis and modeling to identify patterns and factors influencing employee turnover within the organization.

## 2) Data Collection

Dataset Source:- [www.kaggle.com/datasets/raminhuseyn/hr-analytics-data-set](https://www.kaggle.com/datasets/raminhuseyn/hr-analytics-data-set)

### 2.1. Load Data and Import Required Libraries

In [1]:
# Basic Import
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

#Modelling
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from imblearn.over_sampling import SMOTE
from xgboost import XGBClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score,f1_score,confusion_matrix,classification_report

In [2]:
df = pd.read_csv("HR_dataset.csv")
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

Print top 5 records as sample

In [3]:
df = pd.read_csv("HR_dataset.csv")
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

## 3) Data Checks to Perform

### 3.1. Check Missing Values

In [4]:
df.isnull().sum()       #No missing value

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
Department               0
salary                   0
dtype: int64

### 3.2. Check Duplicates

In [5]:
print(df.duplicated().sum())

3008

In [6]:
# Remove duplicates
df.drop_duplicates(inplace=True)

In [7]:
#Checking shape of dataset
print("Shape of dataset after removing duplicates: ", df.shape)

Shape of dataset after removing duplicates:  (11991, 10)

### 3.3. Check data type

In [8]:
df.info()           # 2 categorical and 8 numerical columns

<class 'pandas.core.frame.DataFrame'>
Index: 11991 entries, 0 to 11999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     11991 non-null  float64
 1   last_evaluation        11991 non-null  float64
 2   number_project         11991 non-null  int64
 3   average_montly_hours   11991 non-null  int64
 4   time_spend_company     11991 non-null  int64
 5   Work_accident          11991 non-null  int64
 6   left                   11991 non-null  int64
 7   promotion_last_5years  11991 non-null  int64
 8   Department             11991 non-null  object
 9   salary                 11991 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.0+ MB

### 3.4. Check unique values of each column

In [9]:
#Number of unique values in each column
df.nunique()

satisfaction_level        92
last_evaluation           65
number_project             6
average_montly_hours     215
time_spend_company         8
Work_accident              2
left                       2
promotion_last_5years      2
Department                10
salary                     3
dtype: int64

In [10]:
for col in df.columns:
    print(f"Unique values of column '{col}':\n")
    print(df[col].unique())
    print('\n','-'*50,'\n')

Unique values of column 'satisfaction_level':

[0.38 0.8  0.11 0.72 0.37 0.41 0.1  0.92 0.89 0.42 0.45 0.84 0.36 0.78
 0.76 0.09 0.46 0.4  0.82 0.87 0.57 0.43 0.13 0.44 0.39 0.85 0.81 0.9
 0.74 0.79 0.17 0.24 0.91 0.71 0.86 0.14 0.75 0.7  0.31 0.73 0.83 0.32
 0.54 0.27 0.77 0.88 0.48 0.19 0.6  0.12 0.61 0.33 0.56 0.47 0.28 0.55
 0.53 0.59 0.66 0.25 0.34 0.58 0.51 0.35 0.64 0.5  0.23 0.15 0.49 0.3
 0.63 0.21 0.62 0.29 0.2  0.16 0.65 0.68 0.67 0.22 0.26 0.99 0.98 1.
 0.52 0.93 0.97 0.69 0.94 0.96 0.18 0.95]

 --------------------------------------------------

Unique values of column 'last_evaluation':

[0.53 0.86 0.88 0.87 0.52 0.5  0.77 0.85 1.   0.54 0.81 0.92 0.55 0.56
 0.47 0.99 0.51 0.89 0.83 0.95 0.57 0.49 0.46 0.62 0.94 0.48 0.8  0.74
 0.7  0.78 0.91 0.93 0.98 0.97 0.79 0.59 0.84 0.45 0.96 0.68 0.82 0.9
 0.71 0.6  0.65 0.58 0.72 0.67 0.75 0.73 0.63 0.61 0.76 0.66 0.69 0.37
 0.64 0.39 0.41 0.43 0.44 0.36 0.38 0.4  0.42]

 --------------------------------------------------

Unique values of column 'number_project':

[2 5 7 6 4 3]

 --------------------------------------------------

Unique values of column 'average_montly_hours':

[157 262 272 223 159 153 247 259 224 142 135 305 234 148 137 143 160 255
 282 147 304 139 158 242 239 128 132 294 134 145 140 246 126 306 152 269
 127 281 276 182 273 307 309 225 226 308 244 286 161 264 277 275 149 295
 151 249 291 232 130 129 155 265 279 284 221 154 150 267 257 177 144 289
 258 263 251 133 216 300 138 260 183 250 292 283 245 256 278 240 136 301
 243 296 274 164 146 261 285 141 297 156 287 219 254 228 131 252 236 270
 298 192 248 266 238 229 233 268 231 253 302 271 290 235 293 241 218 199
 180 195 237 227 172 206 181 217 310 214 198 211 222 213 202 184 204 288
 220 299 303 212 196 179 205 230 203 280 169 188 178 175 166 163 168 165
 189 162 215 193 176 191 174 201 208 171 111 104 106 100 194 209 185 200
 207 187 210 186 167 108 122 110 115 197 102 109 190  99 101  97 173 121
 170 105 118 119 117 114  96  98 107 123 116 125 113 120 112 124 103]

 --------------------------------------------------

Unique values of column 'time_spend_company':

[ 3  6  4  5  2  8 10  7]

 --------------------------------------------------

Unique values of column 'Work_accident':

[0 1]

 --------------------------------------------------

Unique values of column 'left':

[1 0]

 --------------------------------------------------

Unique values of column 'promotion_last_5years':

[0 1]

 --------------------------------------------------

Unique values of column 'Department':

['sales' 'accounting' 'hr' 'technical' 'support' 'management' 'IT'
 'product_mng' 'marketing' 'RandD']

 --------------------------------------------------

Unique values of column 'salary':

['low' 'medium' 'high']

 --------------------------------------------------

### 3.5. Check statistics of dataset

In [11]:
df.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,11991.000000,11991.000000,11991.000000,11991.000000,11991.000000,11991.000000,11991.000000,11991.000000
mean,0.629658,0.716683,3.802852,200.473522,3.364857,0.154282,0.166041,0.016929
std,0.241070,0.168343,1.163238,48.727813,1.330240,0.361234,0.372133,0.129012
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.480000,0.570000,3.000000,157.000000,3.000000,0.000000,0.000000,0.000000
50%,0.660000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.860000,5.000000,243.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

## 4. Preparing X and Y (independent and dependent variables respectively)

In [12]:
X = df.drop(columns=['left'])

X.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,0,sales,low
1,0.80,0.86,5,262,6,0,0,sales,medium
2,0.11,0.88,7,272,4,0,0,sales,medium
3,0.72,0.87,5,223,5,0,0,sales,low
4,0.37,0.52,2,159,3,0,0,sales,low

In [13]:
y = df['left']
y

0        1
1        1
2        1
3        1
4        1
        ..
11995    0
11996    0
11997    0
11998    0
11999    0
Name: left, Length: 11991, dtype: int64

## 5. Train-Test Split

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)
X_train.shape,X_test.shape

((8393, 9), (3598, 9))

In [15]:
X_train

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary
6957,0.96,0.37,3,111,2,0,0,sales,high
9240,0.19,1.00,4,188,4,1,0,marketing,medium
618,0.45,0.57,2,148,3,0,0,marketing,high
9296,0.72,0.79,4,154,3,0,0,IT,medium
6030,0.54,0.82,2,279,3,1,0,marketing,low
...,...,...,...,...,...,...,...,...,...
11973,0.49,0.71,4,178,8,0,0,IT,medium
5200,0.77,0.52,4,216,3,0,0,sales,medium
5399,0.84,0.53,5,190,3,0,0,technical,medium
861,0.43,0.48,2,144,3,0,0,sales,low
7279,0.46,0.41,6,148,4,0,0,sales,low

In [16]:
y_train

6957     0
9240     0
618      1
9296     0
6030     0
        ..
11973    0
5200     0
5399     0
861      1
7279     0
Name: left, Length: 8393, dtype: int64

## 6. Transforming Data With Column Transformers

In [17]:
# Identifying numerical and categorical features
cat_features = X.select_dtypes(include='object').columns
num_features = X.select_dtypes(exclude='object').columns

print("Categorical Features: ",cat_features)
print("Numerical Features: ",num_features)

Categorical Features:  Index(['Department', 'salary'], dtype='object')
Numerical Features:  Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident',
       'promotion_last_5years'],
      dtype='object')

In [18]:
# Creating Column Transformer with 2 types of transformer
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    [
        ('OneHotEncoder',oh_transformer,cat_features),
        ('StandardScaler',numeric_transformer,num_features)
    ]
)

In [19]:
preprocessor

ColumnTransformer(transformers=[('OneHotEncoder', OneHotEncoder(drop='first'),
                                 Index(['Department', 'salary'], dtype='object')),
                                ('StandardScaler', StandardScaler(),
                                 Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident',
       'promotion_last_5years'],
      dtype='object'))])

In [20]:
# Transform both X_train, X_test using preprocessor

X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

In [21]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.367002,-2.065493,-0.696994,-1.850387,-1.027132,-0.422838,-0.13259
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.814273,1.682120,0.162902,-0.268909,0.476438,2.364971,-0.13259
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.740076,-0.875775,-1.556889,-1.090456,-0.275347,-0.422838,-0.13259
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.375436,0.432915,0.162902,-0.967224,-0.275347,-0.422838,-0.13259
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.368239,0.611373,-1.556889,1.600110,-0.275347,2.364971,-0.13259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8388,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-0.574815,-0.042972,0.162902,-0.474296,3.483577,-0.422838,-0.13259
8389,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.582012,-1.173204,0.162902,0.306174,-0.275347,-0.422838,-0.13259
8390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.871219,-1.113718,1.022797,-0.227832,-0.275347,-0.422838,-0.13259
8391,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,-0.822707,-1.411148,-1.556889,-1.172611,-0.275347,-0.422838,-0.13259
8392,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,-0.698761,-1.827549,1.882693,-1.090456,0.476438,-0.422838,-0.13259

In [22]:
X_train.shape, X_test.shape

((8393, 18), (3598, 18))

In [23]:
y_train.value_counts()

left
0    7005
1    1388
Name: count, dtype: int64

In [24]:
# Over-sampling the minority class
smote = SMOTE(random_state=42)
X_train, y_train = smote.fit_resample(X_train, y_train)

X_train.shape, y_train.shape

((14010, 18), (14010,))

## 7. Model Training with Evaluation

In [25]:
def evaluate_model(true,predicted):
    accuracy = accuracy_score(true,predicted)
    precision = precision_score(true,predicted)
    recall = recall_score(true,predicted)
    f1 = f1_score(true,predicted)
    return accuracy,precision,recall,f1

In [26]:
# Model Building
models = {
    "Decision Tree Classifier":DecisionTreeClassifier(),
    "Logistic Regression":LogisticRegression(),
    'K-Nearest Neighbours Classifier':KNeighborsClassifier(),
    "Random Forest Classifier":RandomForestClassifier(),
    'AdaBoost Classifier':AdaBoostClassifier(),
    'Gradient Boosting Classifier': GradientBoostingClassifier(),
    'XgBoost Classifier':XGBClassifier()
}

model_list = []
train_f1_list = []
test_f1_list = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Training set performance
    train_results = evaluate_model(y_train,y_train_pred)

    # Test set performance
    test_results = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model performance at training set:\n')
    print('- Accuracy: ',train_results[0])
    print('- F1 Score: ',train_results[3])
    print('- Precision: ',train_results[1])
    print('- Recall: ',train_results[2])
    print('\n')

    train_f1_list.append(train_results[3])

    print("-----------------------------------------------------------------\n")

    print('Model performance at testing set:\n')
    print('- Accuracy: ',test_results[0])
    print('- F1 Score: ',test_results[3])
    print('- Precision: ',test_results[1])
    print('- Recall: ',test_results[2])
    print('\n')

    test_f1_list.append(test_results[3])
    print("X"*100,'\n')

Decision Tree Classifier
Model performance at training set:

- Accuracy:  1.0
- F1 Score:  1.0
- Precision:  1.0
- Recall:  1.0


-----------------------------------------------------------------

Model performance at testing set:

- Accuracy:  0.9677598665925514
- F1 Score:  0.9036544850498339
- Precision:  0.9051580698835274
- Recall:  0.9021558872305141


XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

Logistic Regression
Model performance at training set:

- Accuracy:  0.7908636688079943
- F1 Score:  0.796414674819344
- Precision:  0.7758223906863408
- Recall:  0.8181299072091364


-----------------------------------------------------------------

Model performance at testing set:

- Accuracy:  0.7762645914396887
- F1 Score:  0.5545102379634754
- Precision:  0.4161129568106312
- Recall:  0.8308457711442786


XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

K-Nearest Neighbours Classifier
Model performance at training set:

- Accuracy:  0.9685938615274804
- F1 Score:  0.9694189602446484
- Precision:  0.944602465122579
- Recall:  0.9955745895788722


-----------------------------------------------------------------

Model performance at testing set:

- Accuracy:  0.9269038354641468
- F1 Score:  0.8070432868672047
- Precision:  0.7236842105263158
- Recall:  0.912106135986733


XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

Random Forest Classifier
Model performance at training set:

- Accuracy:  1.0
- F1 Score:  1.0
- Precision:  1.0
- Recall:  1.0


-----------------------------------------------------------------

Model performance at testing set:

- Accuracy:  0.9791550861589772
- F1 Score:  0.9354005167958657
- Precision:  0.9731182795698925
- Recall:  0.900497512437811


XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

AdaBoost Classifier
Model performance at training set:

- Accuracy:  0.9343326195574589
- F1 Score:  0.935375105366676
- Precision:  0.9207578481537824
- Recall:  0.9504639543183441


-----------------------------------------------------------------

Model performance at testing set:

- Accuracy:  0.9155086158977209
- F1 Score:  0.7843971631205674
- Precision:  0.6852540272614622
- Recall:  0.9170812603648425


XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

Gradient Boosting Classifier
Model performance at training set:

- Accuracy:  0.9751605995717345
- F1 Score:  0.9748881512483764
- Precision:  0.9856996935648621
- Recall:  0.9643112062812277


-----------------------------------------------------------------

Model performance at testing set:

- Accuracy:  0.9747081712062257
- F1 Score:  0.9243557772236076
- Precision:  0.9266666666666666
- Recall:  0.9220563847429519


XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

XgBoost Classifier
Model performance at training set:

- Accuracy:  0.9978586723768736
- F1 Score:  0.997855611150822
- Precision:  0.9992841803865425
- Recall:  0.9964311206281228


-----------------------------------------------------------------

Model performance at testing set:

- Accuracy:  0.9788771539744302
- F1 Score:  0.9355932203389831
- Precision:  0.9566724436741768
- Recall:  0.9154228855721394


XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

In [27]:
pd.DataFrame(list(zip(model_list,test_f1_list,train_f1_list)), columns=['Model Name','Test F1 Score','Train F1 Score']).sort_values(by=["Test F1 Score",'Train F1 Score'],ascending=False).reset_index(drop=True)

                        Model Name  Test F1 Score  Train F1 Score
0               XgBoost Classifier       0.935593        0.997856
1         Random Forest Classifier       0.935401        1.000000
2     Gradient Boosting Classifier       0.924356        0.974888
3         Decision Tree Classifier       0.903654        1.000000
4  K-Nearest Neighbours Classifier       0.807043        0.969419
5              AdaBoost Classifier       0.784397        0.935375
6              Logistic Regression       0.554510        0.796415

From these models, we can check and analyse the performance of the two stand-out models - RandomForestClassifier and XGBClassifier, in terms of metrics.

In [28]:
models = {
    "Random Forest Classifier":RandomForestClassifier(),
    'XgBoost Classifier':XGBClassifier(),
    "Decision Tree Classifier":DecisionTreeClassifier(),
    'Gradient Boosting Classifier': GradientBoostingClassifier(),
}

for i in range(len(list(models))):
    mymodel = list(models.values())[i]
    print(list(models.keys())[i])
    mymodel.fit(X_train,y_train)

    y_pred = mymodel.predict(X_test)
    print("\nConfusion Matrix:- \n",confusion_matrix(y_test,y_pred))
    print("\nClassification Report:- \n",classification_report(y_test,y_pred))

    print("-----------------------------------------------------------------\n")

Random Forest Classifier

Confusion Matrix:-
 [[2982   13]
 [  59  544]]

Classification Report:-
               precision    recall  f1-score   support

           0       0.98      1.00      0.99      2995
           1       0.98      0.90      0.94       603

    accuracy                           0.98      3598
   macro avg       0.98      0.95      0.96      3598
weighted avg       0.98      0.98      0.98      3598

-----------------------------------------------------------------

XgBoost Classifier

Confusion Matrix:-
 [[2970   25]
 [  51  552]]

Classification Report:-
               precision    recall  f1-score   support

           0       0.98      0.99      0.99      2995
           1       0.96      0.92      0.94       603

    accuracy                           0.98      3598
   macro avg       0.97      0.95      0.96      3598
weighted avg       0.98      0.98      0.98      3598

-----------------------------------------------------------------

Decision Tree Classifier

Confusion Matrix:-
 [[2928   67]
 [  58  545]]

Classification Report:-
               precision    recall  f1-score   support

           0       0.98      0.98      0.98      2995
           1       0.89      0.90      0.90       603

    accuracy                           0.97      3598
   macro avg       0.94      0.94      0.94      3598
weighted avg       0.97      0.97      0.97      3598

-----------------------------------------------------------------

Gradient Boosting Classifier

Confusion Matrix:-
 [[2951   44]
 [  47  556]]

Classification Report:-
               precision    recall  f1-score   support

           0       0.98      0.99      0.98      2995
           1       0.93      0.92      0.92       603

    accuracy                           0.97      3598
   macro avg       0.96      0.95      0.95      3598
weighted avg       0.97      0.97      0.97      3598

-----------------------------------------------------------------

Both RandomForestClassifier and XGBClassifier have shown good performance on the test set, with high accuracy, precision, recall, and F1 scores. The confusion matrix and classification report provide further insights into the model's performance, indicating that both models are effective in predicting employee attrition.